<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>login</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <link th:href="@{/css/signin.css}" rel="stylesheet"/><link th:href="@{/css/sun.css}" rel="stylesheet"/>
</head>
<body>
<br><br><br><br>
<center>
    <h1> 欢迎访问</h1>
    <h1>抽象论坛</h1>
    <br>
    <form method="post" action="dologin" id="myform">
        <strong>用户名：</strong><input type="text" name="username" size="25" maxlength="16">
        <br><br>
        <strong>密 码：</strong><input type="password" name="password" size="25" maxlength="16">
        <br><br>
        <div th:if="${error}">
            <div th:text="${error}" style="color:#F00"></div>
        </div>
        <a href="/regist"><input type="button" value="注册"></a>
        <input type="button" value="登录" onclick="check()"> <br><br>
        <a href="/onlyread">游客</a></form>
</center>
<script type="text/javascript">
    // 检查表单元素的值是否为空
    function check() {
        var myform = document.getElementById("myform");
        for (var i = 0; i < myform.length; i++) {

            if (myform.elements[i].value == "") {
                alert(myform.elements[i].title + "用户名或密码不能为空");
                myform.elements[i].focus();
                return;
            }
        }
        myform.submit(); // 表单中最后input提交标签用的是button类型，首先不提交表单，在js判断表单项都不为空时 再提交表单。
    }
</script>
</body>
</html>